<?xml version="1.0" encoding="utf-8"?>
<?pcf-stylesheet path="/_resources/xsl/default.xsl" extension="php"?>

<!DOCTYPE document SYSTEM "http://commons.omniupdate.com/dtd/standard.dtd">
<document>
	
<!-- Will be called at the VERY top of the document -->
<headcode>
</headcode>

  <scriptcode>
    
  </scriptcode>

  <stylecode>
    <!-- Put any css files that you want loaded in the header here -->
  </stylecode>

  <!-- Will be placed in footer right above closing body tag -->
<footscripts>
   
  <script src="/_resources/overrides.js">//</script>
</footscripts>

  <config>
    <!-- com.omniupdate.properties -->

    <parameter name="pagetype" prompt="Page Type" type="select" alt="Pick a page layout type from the dropdown." output="xml">
<option value="one" selected="true">One Column</option>
<option value="onefull" selected="false">One Column Full Width</option>
<option value="two" selected="false">Two Column</option>
<option value="three" selected="false">Three Column</option>
</parameter>

<parameter name="librarypagetype" type="select" group="Superadmins" prompt="Library Page Type" output="xml">
<option value="home" selected="false">Home</option>
<option value="local" selected="false">Local Library</option>
<option value="interior" selected="true">Interior</option>
</parameter>

    <parameter name="showpagetitle" type="select" group="Everyone" prompt="Display page title?" output="xml">
<option value="true" selected="true">Yes</option>
<option value="false" selected="false">No</option>
</parameter>

    <parameter name="featuredimage" type="select" group="Everyone" prompt="Featured Image?" alt="Will this page have a featured image at the top?" output="xml">
<option value="true" selected="true">Yes</option>
<option value="false" selected="false">No</option>
</parameter>

    	<parameter name="featuredimage_file" type="filechooser" group="Everyone" prompt="Choose Image File" alt="If Featured Image Turned On" path="/images/">/images/banners/banner-heard.jpg</parameter>
	
	<parameter name="sitehomepage" type="select" group="Everyone" prompt="Is this the homepage?" output="xml">
<option value="true" selected="false">Yes</option>
<option value="false" selected="true">No</option>
</parameter>

<parameter name="vunetid" type="select" group="Everyone" prompt="Protect this page behind VUnetID" output="xml">
<option value="true" selected="false">Yes</option>
<option value="false" selected="true">No</option>
</parameter>

<parameter name="fullfooter" type="select" group="Everyone" prompt="Use Full Footer" output="xml">
<option value="true" selected="true">Yes</option>
<option value="false" selected="false">No</option>
</parameter>

<parameter name="footermedia" type="select" group="Everyone" prompt="Footer Media Section?" alt="add area for map or video in footer" output="xml">
<option value="true" selected="true">Yes</option>
<option value="false" selected="false">No</option>
</parameter>

<parameter name="socialsharing" type="select" group="Everyone" prompt="Add Social Sharing Icons" alt="2/3 Col Only" output="xml">
<option value="none" selected="true">No</option>
<option value="main" selected="false">Bottom Main Column</option>
<option value="right" selected="false">Right Column</option>
</parameter>

<parameter name="attention" type="select" group="Everyone" prompt="Add an Attention box" alt="2/3 Col Only" output="xml">
<option value="false" selected="true">No</option>
<option value="true" selected="false">Yes</option>
<option value="wide" selected="false">Wide</option>
</parameter>

<parameter name="foldermenu" type="select" group="Everyone" prompt="Use Folder Menu" alt="Shared menu for this folder" output="xml">
<option value="none" selected="true">No</option>
<option value="left" selected="false">Left Column (3-column layout only)</option>
<option value="right" selected="false">Right Sidebar</option>
</parameter>

<parameter name="leftmenu" type="select" group="Everyone" prompt="Add Left Column Menu" alt="Sitewide menu in left column? 3 Col Only" output="xml">
<option value="false" selected="true">No</option>
<option value="true" selected="false">Yes</option>
</parameter>

<parameter name="rightmenu" type="select" group="Everyone" prompt="Add Menu to Right Sidebar" alt="2/3 Col Only" output="xml">
<option value="true" selected="true">Yes</option>
<option value="false" selected="false">No</option>
</parameter>

<parameter name="slideshow" type="select" group="Everyone" prompt="Add SlideShow" alt="2/3 Col Only" output="xml">
<option value="false" selected="true">No</option>
<option value="true" selected="false">Yes</option>
<option value="mini" selected="false">Mini Slider (3-column layout center)</option>
<option value="wide" selected="false">Wide (full width of site)</option>
<option value="edge" selected="false">Edge (full width of browser)</option>
</parameter>

<parameter name="calendar" type="select" group="Everyone" prompt="Add calendar listing" output="xml">
<option value="true" selected="false">Yes Right Sidebar</option>
<option value="false" selected="true">No</option>
<option value="full" selected="false">Full Width</option>
</parameter>

<parameter name="calendarfeed" type="text" group="Everyone" prompt="VU Calendar Tag" alt="2/3 Col Only">myvu</parameter>

<parameter name="rssnews" type="select" group="Everyone" prompt="Display News Feed" output="xml">
<option value="right" selected="false">Right Sidebar</option>
<option value="left" selected="false">Main Content</option>
<option value="false" selected="true">No</option>
</parameter>

<parameter name="rsswebsite" type="text" group="Everyone" prompt="News Website" alt="URL that will be linked to from the MORE links">https://news.vanderbilt.edu/research/</parameter> 
<parameter name="rightbarrss" type="text" group="Everyone" prompt="News Feed" alt="Feed URL. 2/3 Col Only.">https://news.vanderbilt.edu/xmlslider/?tag=featured-research</parameter> 

<parameter name="flickrsidebar" type="select" group="Everyone" prompt="Add a Flickr gallery to left Sidebar" alt="3 Col Only" output="xml">
<option value="true" selected="true">Yes</option>
<option value="false" selected="false">No</option>
</parameter>

<parameter name="sbflickrnum" type="text" group="Everyone" prompt="How many flickr images" alt="Max 10">6</parameter>
<parameter name="flickrtitle" type="text" group="Everyone" prompt="Flickr Title" alt="Used in Footer and 3 Col Only">See Our Campus</parameter>
<parameter name="flickrlink" type="text" group="Everyone" prompt="Flickr Homepage URL" alt="Footer/3 Col Only.">http://www.flickr.com/photos/digitalvu/</parameter>
<parameter name="flickrid" type="text" group="Everyone" prompt="Flickr User ID" alt="Look up at http://idgettr.com/  Footer/3 Col Only.">48007774%40N03</parameter>
<parameter name="flickrset" type="text" group="Everyone" prompt="Flickr Photo Set" alt="Use specific set of photos. Footer/3 Col Only.">72157623555141080</parameter>

<parameter name="bcrumb" type="select" group="Everyone" prompt="Add Breadcrumb" alt="Display a breadcrumb?" output="xml">
<option value="true" selected="true">Yes</option>
<option value="false" selected="false">No</option>
</parameter>
<parameter name="leftsidebar" type="select" group="Superadmins" prompt="Sidebar" output="xml">
<option value="populated" selected="false">Sidebar w/ Content</option>
<option value="blank" selected="false">Blank Sidebar</option>
<option value="none" selected="true">No Sidebar</option>
</parameter>

    <parameter name="bodyclasses" prompt="Additional Body Classes" >full-width</parameter>

    <parameter name="include" type="filechooser" group="Superadmins" prompt="Include File Location?" alt="Specify the file you would like to include."></parameter>

    <!-- /com.omniupdate.properties -->
  </config>

  <metadata>
    <!-- com.omniupdate.properties -->
    <meta name="Description" content="Jean and Alexander Heard Library, Vanderbilt University" />
    <meta name="Keywords" content="vanderbilt university, nashville, tennessee, vanderbilt, vanderbilt libraries, jean and alexander heard library" />
    <!-- /com.omniupdate.properties -->
  </metadata>

  <!-- com.omniupdate.properties -->
  <title>Scholarly Communications</title>
  <!-- /com.omniupdate.properties -->

  

  <content>
    <!-- com.omniupdate.div label="content" group="Everyone" button="864" break="break" --><!-- ouc:editor csspath="/assets/css/screen.css"/ -->
<h2>Digital Scholarship Workshop Series, Fall 2016</h2>

<h4>11 a.m. on Fridays in Room 418a, Central Library</h4>
<p>The purpose of these workshops is to introduce students, faculty, and staff members at Vanderbilt University to new tools and techniques in the field of scholarly communications and digital scholarship. All are welcome! No need to RSVP. If you have questions, please contact <a href="http://library.vanderbilt.edu/staffmember.php?staff_id=2">clifford.anderson@vanderbilt.edu</a>.</p>
<div class="callout-box callout-small">
<h4>Digital Scholarship Workshop Series</h4>
<div class="callout-content">
<h5>Fall 2016 Flyer</h5>
<p>&nbsp;<a href="/scholarly/digitalscholarshipworkshopseries_fall2016.pdf"><img title="Workshop Series, Fall 2016" src="/scholarly/small%20flyer.png" alt="Preview of flyer" width="93" height="120" /></a></p>
<a href="/scholarly/digitalscholarshipworkshopseries_fall2016.pdf"><em>Full size</em></a></div>
</div>
	  <ul>
<li>
<h3>Geospatial Analysis</h3>
</li>
<ul>
<li>
<h4>Mapping Information with QGIS</h4>
Friday, September 9, at 11:00am, Central Library Room 418a</li>
<li>
<h4>Geospatial Data Collection with R and REDCap</h4>
Friday, September 16, at 11:00am, Central Library Room 418a</li>
<li>
<h4>Exploring Spatial Networks with Neo4j</h4>
Friday, September 23, at 11:00am, Central Library Room 418a</li>
</ul>
<li>
<h3>Data Visualization</h3>
</li>
<ul>
<li>
<h4>Visualizing Data with Tableau</h4>
Friday, September 30, at 11:00am, Central Library Room 418a</li>
<li>
<h4>Interactive Data Analysis with R &amp; ggvis</h4>
Friday, October 7, at 11:00am, Central Library Room 418a</li>
<li>
<h4>Creating Illustrations and Figures with Inkscape</h4>
Friday, October 21, at 11:00am, Central Library Room 418a</li>
</ul>
<li>
<h3>Digital Humanities</h3>
</li>
<ul>
<li>
<h4>Exploring Linked Data with Wikidata</h4>
Friday, October 28, at 11:00am, Central Library Room 418a</li>
<li>
<h4>Introduction to Stylometry using R &amp; stylo</h4>
Friday, November 4, at 11:00am, Central Library Room 418a</li>
<li>
<h4>Scholarly Publishing with Scalar</h4>
Friday, November 11, at 11:00am, Central Library Room 418a</li>
</ul>
</ul><!-- /com.omniupdate.div -->
  </content>

<codecontent>
<!-- ouc:div label="codecontent" group="Superadmins" button-class="oucEditButton" button-text="Edit Restricted Code Content Area" break="break" -->

<!-- /ouc:div -->
</codecontent>

<attention_box>
<!-- ouc:div label="attentionBox" group="Everyone" button-class="oucEditButton" button-text="Edit" break="break" -->
<h4>Link Group Title</h4>
<ul>
<li><a href="#" target="_blank">Link 2</a></li>
<li><a href="#" target="_blank">Link 3</a></li>
<li><a href="#" target="_blank">Link 2</a></li>
<li><a href="#" target="_blank">Link 3</a></li>
<li><a href="#" target="_blank">Link 2</a></li>
<li><a href="#" target="_blank">Link 3</a></li>
</ul>
<!-- /ouc:div -->
</attention_box>
<attention_box_last>
<!-- ouc:div label="attentionBoxLast" group="Everyone" button-class="oucEditButton" button-text="Edit" break="break" -->
<h4>Link Group Title</h4>
<p>This is placeholder text for the right attention box.  Edit to replace with your own text! Boxes can contain list of links, paragraphs or images.</p>
<!-- /ouc:div -->
</attention_box_last>
<attention_box_wide>
<!-- ouc:div label="attentionBoxWide" group="Everyone" button-class="oucEditButton" button-text="Edit" break="break" -->
<h4>Link Group Title</h4>
<ul>
<li><a href="#" target="_blank">Link 2</a></li>
<li><a href="#" target="_blank">Link 3</a></li>
<li><a href="#" target="_blank">Link 2</a></li>
<li><a href="#" target="_blank">Link 3</a></li>
<li><a href="#" target="_blank">Link 2</a></li>
<li><a href="#" target="_blank">Link 3</a></li>
</ul>
<!-- /ouc:div -->

</attention_box_wide>
<rightsidebar>
<!-- ouc:div label="rightsidebar" group="Everyone" button-class="oucEditButton" button-text="Edit Right Area Content" break="break" -->

<!-- /ouc:div -->
</rightsidebar>

<leftsidebar>
<!-- ouc:div label="leftsidebar" group="Everyone" button-class="oucEditButton" button-text="Edit Left Area Content" break="break" -->
<!-- /ouc:div -->
</leftsidebar>

<leftbottomcontent>
<!-- ouc:div label="leftbottomcontent" group="Everyone" button-class="oucEditButton" button-text="Edit Left Bottom Area" break="break" -->
<!-- /ouc:div -->
</leftbottomcontent>


<mainbottomcontent>
<!-- ouc:div label="mainbottomcontent" group="Everyone" button-class="oucEditButton" button-text="Edit Main Content Bottom" break="break" -->
<!-- /ouc:div -->
</mainbottomcontent>

<fullwidthbelowslider>
<!-- ouc:div label="fullwidthbelowslider" group="Everyone" button-class="oucEditButton" button-text="Edit Content Directly Below Slideshow" break="break" -->
<!-- /ouc:div -->
</fullwidthbelowslider>

<minislider>
<!-- ouc:div label="minislider" group="Everyone" button-class="oucEditButton" button-text="Edit Slideshow" break="break" -->
<a href="http://www.vanderbilt.edu/"><img src="https://s3.amazonaws.com/vu-www4/omni/i/sliders/mini/mini1.jpg" alt="Photo" title="1 Caption for Photo is usually around 140 characters" width="100%"/></a>
<a href="http://www.vanderbilt.edu/"><img src="https://s3.amazonaws.com/vu-www4/omni/i/sliders/mini/mini2.jpg" alt="Photo" title="2 Caption for Photo is usually around 140 characters" width="100%" /></a>
<a href="http://www.vanderbilt.edu/"><img src="https://s3.amazonaws.com/vu-www4/omni/i/sliders/mini/mini3.jpg" alt="Photo" title="3 Caption for Photo is usually around 140 characters" width="100%"/></a><!-- /ouc:div -->
</minislider>

<fullslider>
<!-- ouc:div label="fullslider" group="Everyone" button-class="oucEditButton" button-text="Edit Slideshow" break="break" -->
<a href="http://www.vanderbilt.edu/"><img src="https://s3.amazonaws.com/vu-www4/omni/i/sliders/full/full1.jpg" alt="Photo" title="1 Caption for Photo is usually around 140 characters" width="100%" /></a>
<a href="http://www.vanderbilt.edu/"><img src="https://s3.amazonaws.com/vu-www4/omni/i/sliders/full/full2.jpg" alt="Photo" title="2 Caption for Photo is usually around 140 characters" width="100%" /></a>
<a href="http://www.vanderbilt.edu/"><img src="https://s3.amazonaws.com/vu-www4/omni/i/sliders/full/full3.jpg" alt="Photo" title="3 Caption for Photo is usually around 140 characters" width="100%" /></a>
<!-- /ouc:div -->
</fullslider>

<wideslider>
<!-- ouc:div label="wideslider" group="Everyone" button-class="oucEditButton" button-text="Edit Slideshow" break="break" -->
<a href="http://www.vanderbilt.edu/"><img src="https://s3.amazonaws.com/vu-www4/omni/i/sliders/wide/full1.jpg" alt="Photo" title="1 Caption for Photo is usually around 140 characters" width="100%" /></a>
<a href="http://www.vanderbilt.edu/"><img src="https://s3.amazonaws.com/vu-www4/omni/i/sliders/wide/full2.jpg" alt="Photo" title="2 Caption for Photo is usually around 140 characters" width="100%"  /></a>
<a href="http://www.vanderbilt.edu/"><img src="https://s3.amazonaws.com/vu-www4/omni/i/sliders/wide/full3.jpg" alt="Photo" title="3 Caption for Photo is usually around 140 characters" width="100%" /></a>
<!-- /ouc:div -->
</wideslider>

<edgeslider>
<!-- ouc:div label="edgeslider" group="Everyone" button-class="oucEditButton" button-text="Edit Slideshow" break="break" -->
<a href="http://www.vanderbilt.edu/"><img src="https://s3.amazonaws.com/vu-www4/omni/i/sliders/wide/full1.jpg" alt="Photo" title="1 Caption for Photo is usually around 140 characters" width="100%" /></a>
<a href="http://www.vanderbilt.edu/"><img src="https://s3.amazonaws.com/vu-www4/omni/i/sliders/wide/full2.jpg" alt="Photo" title="2 Caption for Photo is usually around 140 characters" width="100%" /></a>
<a href="http://www.vanderbilt.edu/"><img src="https://s3.amazonaws.com/vu-www4/omni/i/sliders/wide/full3.jpg" alt="Photo" title="3 Caption for Photo is usually around 140 characters" width="100%" /></a>
<!-- /ouc:div -->
</edgeslider>

<fullwidthbottom>
<!-- ouc:div label="fullwidthbottom" group="Everyone" button-class="oucEditButton" button-text="Edit Full Width Lower Section" break="break" --><!-- /ouc:div -->
</fullwidthbottom>


  <featuredimage>
    <!-- com.omniupdate.div label="featuredimage" group="Everyone" button="860" break="break" -->
      <!-- com.omniupdate.editor csspath="/assets/css/screen.css"  -->
      <script>
        document.write('<img src="http://www.library.vanderbilt.edu/scholarly/images/digital.png" />');
      </script>
    <!-- /com.omniupdate.div -->
  </featuredimage>

  <slideshowhome>
    <!-- com.omniupdate.div label="slideshowhome" group="Everyone" button="864" break="break" -->
      <!-- com.omniupdate.editor wysiwyg='no' -->
      <div class="slider slider-full" id="slider-home">
        <div class="slide" id="slide-1">
          <div class="slide-body">
            <h6>Title</h6>
            <h1>Heading</h1>
            <h3>Sub-Heading</h3>
            <p>Description for the slide.</p>
            <a href="#" class="more-link-large">Learn More</a>
          </div>
          <div class="slide-image" style="background-image: url('http://dummyimage.com/683x310/666666/ffffff');">&nbsp;</div>
        </div>
        <div class="slide" id="slide-2">
          <div class="slide-body">
            <h6>Title</h6>
            <h1>Heading</h1>
            <h3>Sub-Heading</h3>
            <p>Description for the slide.</p>
            <a href="#" class="more-link-large">Learn More</a>
          </div>
          <div class="slide-image" style="background-image: url('http://dummyimage.com/683x310/666666/ffffff')">&nbsp;</div>
        </div>
        <div class="slide" id="slide-3">
          <div class="slide-body">
            <h6>Title</h6>
            <h1>Heading</h1>
            <h3>Sub-Heading</h3>
            <p>Description for the slide.</p>
            <a href="#" class="more-link-large">Learn More</a>
          </div>
          <div class="slide-image" style="background-image: url('http://dummyimage.com/683x310/666666/ffffff');">&nbsp;</div>
        </div>
      </div>

      <div class="carousel pager" id="carousel-home">
        <div class="slide selected" id="thumb-1">
          <img src="http://dummyimage.com/72x53/666666/ffffff" />
        </div>
        <div class="slide" id="thumb-2">
          <img src="http://dummyimage.com/72x53/666666/ffffff" />
        </div>
        <div class="slide" id="thumb-3">
          <img src="http://dummyimage.com/72x53/666666/ffffff" />
        </div>
      </div>

      <button class="prev nav-pager">Prev</button>
      <button class="next nav-pager">Next</button>
    <!-- /com.omniupdate.div -->
  </slideshowhome>

  <mostusedresources>
    <!-- com.omniupdate.div label="mostusedresources" group="Everyone" button="860" break="break" -->
      <!-- com.omniupdate.editor wysiwyg='no' -->
      <nav id="nav-most-used">
        <h6>Most Used Resources</h6>
        <ul>
          <li>
            <a href="#">Link Title</a>
            <div class="link-label">Link Description</div>
          </li>
          <li>
            <a href="#">Link Title</a>
            <div class="link-label">Link Description</div>
          </li>
          <li>
            <a href="#">Link Title</a>
            <div class="link-label">Link Description</div>
          </li>
          <li>
            <a href="#">Link Title</a>
            <div class="link-label">Link Description</div>
          </li>
        </ul>
      </nav>
    <!-- /com.omniupdate.div -->
  </mostusedresources>

  <slideshowlocal>
    <!-- com.omniupdate.div label="slideshowlocal" group="Everyone" button="864" break="break" -->
      <!-- com.omniupdate.editor wysiwyg='no' -->
      <div class="wrap-slide">
        <div class="slider slider-split flexslider" id="slider-library">
          <div class="slide" id="slide-1">
            <div class="slide-body">
              <h1>Slide Title</h1>
              <p>Description for slide.</p>
              <a href="#" class="more-link-large">Learn More</a>
            </div>
            <div class="slide-image" style="background-image: url('http://dummyimage.com/683x310/666666/ffffff');">&nbsp;</div>
          </div>
          <div class="slide" id="slide-2">
            <div class="slide-body">
              <h1>Slide Title</h1>
              <p>Description for slide.</p>
              <a href="#" class="more-link-large">Learn More</a>
            </div>
            <div class="slide-image" style="background-image: url('http://dummyimage.com/683x310/666666/ffffff')">&nbsp;</div>
          </div>
          <div class="slide" id="slide-3">
            <div class="slide-body">
              <h1>Slide Title</h1>
              <p>Description for slide.</p>
              <a href="#" class="more-link-large">Learn More</a>
            </div>
            <div class="slide-image" style="background-image: url('http://dummyimage.com/683x310/666666/ffffff');">&nbsp;</div>
          </div>
        </div>

        <div class="carousel pager" id="carousel-library">
          <div class="slide selected" id="thumb-1">
            <img src="http://dummyimage.com/72x53/666666/ffffff" />
          </div>
          <div class="slide" id="thumb-2">
            <img src="http://dummyimage.com/72x53/666666/ffffff" />
          </div>
          <div class="slide" id="thumb-3">
            <img src="http://dummyimage.com/72x53/666666/ffffff" />
          </div>
        </div>

        <div class="pager">
          <button class="prev nav-pager">Prev</button>
          <button class="next nav-pager">Next</button>
        </div>
      </div>
    <!-- /com.omniupdate.div -->
  </slideshowlocal>

</document>
