<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>Workshops | Vanderbilt University Library Github Repository</title>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
        <link href="http://fonts.googleapis.com/css?family=Roboto:500,700|Roboto+Condensed:400,700" rel="stylesheet" type="text/css"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.4/cosmo/bootstrap.min.css" />
        <link rel="stylesheet" href="{{ site.baseurl }}/stylesheets/vustyles.css" />
    </head>
    <body>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="http://www.library.vanderbilt.edu/"><img src="http://www.library.vanderbilt.edu/assets/images/logo-vandy-library.png"></a>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li><a href="http://heardlibrary.github.io/">Home</a></li>
                        <li><a href="http://heardlibrary.github.io/about.html">About</a></li>
                        <li class="active"><a href="http://heardlibrary.github.io/workshops">Workshops <span class="sr-only">(current)</span></a></li>
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>
        <div class="container">
            <div class="starter-template">
                <div class="bs-component"> {{ content }} </div>
            </div><!-- /.container -->
        </div>
      <footer class="footer">
        <div class="container">
          <p>Jean and Alexander Heard Library,  Vanderbilt University</p>
        </div>
      </footer>
    </body>
</html>
